IndexIgnore *
DirectoryIndex index.php
RewriteEngine On

Redirect /contact-us.html https://encegypt.com/contactus.php
Redirect /about.html https://encegypt.com/about.php
Redirect /clients.html https://encegypt.com/client.php
Redirect /global.html https://encegypt.com/globalreach.php
Redirect /partner.html https://encegypt.com/partner.php
Redirect /services.html https://encegypt.com/service.php
Redirect /solutions.html https://encegypt.com/solutions.php



